@model WebApplication3.Models.QueryData
<br /><br />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
 <meta name="author" content="Rishi Raj Gujadhur">
<meta name="description" content="The purpose of this project is to implement predictive analytics into businesses using tools such as Azure Machine Learning, Python, ASP.Net and many more.">
<meta name="keywords" content="Smart Adaptive Apps, Machine Learning, Artificial Intelligence">

@using (Html.BeginForm("Test", "Home", FormMethod.Post, new { role = "form", id = "saveForm" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="control-label col-sm-2">Passenger Class:</label>
        <select class="form-control" id="Pclass" name="Pclass">
            <option>Select passenger class</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
        @*@Html.TextBoxFor(model => model.Pclass, new { @class = "form-control" })*@
    </div>
    <div class="form-group">

        <label class="control-label col-sm-2">Age:</label>

        @Html.TextBoxFor(model => model.Age, new { @class = "form-control", @type = "number" })
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Gender:</label>
        <select class="form-control" id="Sex" name="Sex">
            <option>Select gender</option>
            <option>male</option>
            <option>female</option>
        </select>
        @*@Html.TextBoxFor(model => model.Sex, new { @class = "form-control" })*@
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Embarcation:</label>
        <select class="form-control" id="Embarked" name="embarked">
            <option>Select embarcation</option>
            <option>C</option>
            <option>Q</option>
            <option>S</option>
        </select>
        @*@Html.TextBoxFor(model => model.Embarked, new { @class = "form-control" })*@
    </div>
    <button type="submit" value="Create" class="btn btn-default">Submit</button>

}

@section Scripts{
    @*@Scripts.Render("~/bundles/jqueryval")*@

}


