
@{
    ViewBag.Title = "Project ML";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<meta name="author" content="Rishi Raj Gujadhur">
<meta name="description" content="The purpose of this project is to implement predictive analytics into businesses using tools such as Azure Machine Learning, Python, ASP.Net and many more.">
<meta name="keywords" content="Smart Adaptive Apps, Machine Learning, Artificial Intelligence">
<link href="~/Content/Site.css" rel="stylesheet" />
<br/>
<h3>Project ML</h3>
<h4>Be one step ahead with predictive analytics solutions.</h4>
<hr/>
<p><h5>Why Project ML?</h5></p>
<li>
    Using a smart adaptive application, machine learning can exploit patterns found in historical and transactional data to identify risks and opportunities for business transactions.</li>
<li>
    However implementing such a smart adaptive application into your business can be a difficult task as the development of smart applications is a complex process.
</li>
<li>Here's where Project ML come into play, the purpose of this project is to implement predictive analytics into businesses using tools such as Azure Machine Learning, Python, ASP.Net and many more.</li>
<br />
<h5>The members of Project ML can: </h5>

<li>write or adapt publicly available algorithms,</li>
<li>select the right algorithm for the desired result,</li>
<li>combine algorithms as needed to optimize the result,</li>
<li>deploy the algorithm as a web service,</li>
<li>and develop the web service endpoint for end users.</li>

<br/>
<h5>Official member of Project ML: </h5>   
<li>Heman Mohabeer,</li>
    <li>Rishi Raj Gujadhur</li>
    
<br />

<p><h5>Project ML Can Help</h5></p>
<p>
    By providing predictive analytics solutions Project ML can enhance the decision making process of the following work sectors:
    <li>Marketing</li>
    <li>Credit risk assessment,</li>
    <li>Fraud detection,</li>
    <li>Manufacturing,</li>
    <li>Healthcare,</li>
    <li>Automotive Engineering,</li>
    <li>Insurance,</li>
    <li>Telecommunications,</li>
    <li>Retail,</li>
    <li>Travel,</li>
    <li>Insurance,</li>
    <li>Government operations including law enforcement.</li>
</p>
<br/>
